<form novalidate [formGroup]="doctorForm" (ngSubmit)="displayDoctorInfo()">
    <fieldset>
        <!--doctor Id-->
        <div class="form-group">
            <label>doctor Id</label>
            <input type="text" class="form-control" formControlName="doctorId">
        </div>
        <div class="alert alert-danger" *ngIf="doctorForm.get('doctorId').hasError('required') 
        && doctorForm.get('doctorId').dirty">Please enter doctor id</div>

        <!--Product Name-->
        <div class = "form-group">
            <label>last Name</label>
            <input type="text" class="form-control" formControlName="lastName">
        </div>
        <div class="alert alert-danger" *ngIf="doctorForm.get('lastName').hasError('required') 
        && doctorForm.get('lastName').dirty">Please enter last Name</div>
        <div class="alert alert-danger" *ngIf="doctorForm.get('productName').hasError('minlength') 
        && doctorForm.get('lastName').dirty">Please enter at least 5 characters</div>

        <!--availability-->
        <div class = "form-group">
            <label>weekly availability</label>
            <input type="text" class="form-control" formControlName="weeklyAvailability">
        </div>
        <div class="alert alert-danger" *ngIf="doctorForm.get('weeklyAvailability').hasError('required') 
        && doctorForm.get('weeklyAvailability').dirty">Please enter quantity</div>
        <div class="alert alert-danger" *ngIf="doctorForm.get('weeklyAvailability').hasError('minlength') 
        && doctorForm.get('weeklyAvailability').dirty">Please enter a date '>' 0</div>

        <!--price-->
        <div class = "form-group">
            <label>Practice</label>
            <input type="text" class="form-control" formControlName="practice">
        </div>
        <div class="alert alert-danger" *ngIf="doctorForm.get('practice').hasError('required') 
        && doctorForm.get('practice').dirty">Please enter quantity</div>
        <div class="alert alert-danger" *ngIf="doctorForm.get('practice').hasError('minlength') 
        && doctorForm.get('practice').dirty">Please enter practice</div>

        <input type="submit"[disabled]="doctorForm.invalid" class="btn btn-success">
       

    </fieldset>


</form>