<form nonvalidate [formGroup]="doctorForm" (ngSubmit)="displayDoctorInfo()">
    <fieldset>
        <!--doctor Id-->
        <div class="form-group">
            <label>doctor Id</label>
            <input type="text" class="form-control" formControlName="doctorId">
        </div>
        <div class="alert alert-danger" *ngIf="doctorForm.get('doctorId').hasError('required') 
        && doctorForm.get('doctorId').dirty">Please enter doctor id</div>

        <!--doctor Name-->
        <div class="form-group">
            <label>last Name</label>
            <input type="text" class="form-control" formControlName="lastName">
        </div>
        <div class="alert alert-danger" *ngIf="doctorForm.get('lastName').hasError('required') 
        && doctorForm.get('lastName').dirty">Please enter last Name</div>


        <!--availability-->
        <div class="form-group">
            <label>weekly availability</label>
            <input type="text" class="form-control" formControlName="weeklyAvailability">
        </div>
        <div class="alert alert-danger" *ngIf="doctorForm.get('weeklyAvailability').hasError('required') 
        && doctorForm.get('weeklyAvailability').dirty">Please enter a date '>' 0</div>

        <!--practice-->
        <div class="form-group">
            <label>Practice</label>
            <input type="text" class="form-control" formControlName="practice">
        </div>
        <div class="alert alert-danger" *ngIf="doctorForm.get('practice').hasError('required') 
        && doctorForm.get('practice').dirty">Please enter practice</div>


        <input type="submit" [disabled]="doctorForm.invalid" class="btn btn-success">
        <font color="green">
            <h2>{{successMessage}}</h2>
        </font>


    </fieldset>


</form>